.wrap {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.main {
    padding: 155px 0 0;
    
    @media($until: $wide) {
        padding-top: 100px;
    }
}