.feedback
    .wrap
        .feedback-caption
            .feedback-caption__subtitle Напишите нам
            .h3 ОСТАВИТЬ ОТЗЫВ
        form.feedback-form
            input.feedback-form__input(type="text" placeholder="введите текст письма")
            button.btn.feedback-form__submit отправить