header.header
    .header-top
        .wrap
            .header-contacts
                a.header-contacts__item._mail(href="mailto:contact@beeorganic.ru") Email: contact@beeorganic.ru 
                a.header-contacts__item._phone(href="tel:+79150700900") Тел. : +7 915 0700900 

            .social.header--social
                a.social__item(href="#") 
                a.social__item(href="#") 
                a.social__item(href="#") 
                a.social__item(href="#") 
                a.social__item(href="#") 