include mixins/_promo.pug
include mixins/_products-item.pug

doctype html
html
	include includes/head.pug
	body
		include includes/header-inner.pug
		main.main
						
			+promo({
				src: 'img/catalog-bg.jpg',
				h2: 'Магазин',
				breadcrumbs: 'Магазин'
			})
						
			section.catalog
				form.catalog__sorting
					.wrap
						.catalog__sorting-category
							.catalog__sorting-item
								.catalog__sorting-label Категории
								select.catalog__sorting-select
										option Весь ассортимент
										option Мёд-суфле
										option Мёд-крем
										option Мёд с орехами
							.catalog__sorting-item
								.catalog__sorting-label Сортировать
								select.catalog__sorting-select
									option По популярности
									option По названию
						.catalog__sorting-price
							.catalog__sorting-item
								.catalog__sorting-label Цена
								select.catalog__sorting-select
									option Сначала низкая
									option Сначала высокая
									
							.catalog__sorting-item
								.catalog__sorting-label руб
								.range
									input(type="range" id="range" data-min="0" data-max="10000")
				
				.catalog__view
					.catalog__view-wrap.wrap
						.catalog__view-result
							| найдено
							span.catalog__view-amount 125
							
						.catalog__view-kind
							a.active(href="#") 
							a(href="#") 
								
				.catalog__results
					.wrap
						each item in [1, 2, 3, 4, 5, 6]
							+products-item([
								{
									catalog: true,
									img: 'img/product-2.png',
									title: 'organic garlic',
									price: '250.00'
								}
							])
							


			


	
		include includes/footer.pug
