include mixins/_banner.pug
include mixins/_advantages-item.pug
include mixins/_products-item.pug
include mixins/_production-item.pug
include mixins/_reviews.pug
include mixins/_news.pug

doctype html
html
	include includes/head.pug
	body
		include includes/header.pug
		main.main
			+banner([
				{
					img: 'img/banner-1.jpg',
					title: 'МЕД СУФЛЕ ОПТОМ ОТ ПРОИЗВОДИТЕЛЯ ',
					desc: 'ДОСТАВКА ПО ВСЕЙ РОССИИ'
				},
			])

			section.advantages
				.container
					.advantages-caption
						.advantages-caption__section Мед содержит органические кислоты (яблочную, винную, лимонную, молочную и щавельную), биогенные стимуляторы (которые позитивно влияют на организм, активизируя его жизнедеятельность).
						.advantages-caption__section
							h2 Bee organic - 
								strong натуральный мед
								.advantages-caption__subtitle ABOUT NATURIX FARMFOOD
					.advantages-list
						+advantages-item([
							{
								img: 'img/advantages-1.png',
								title: 'цена и <strong>высокое качество</strong>',
								text: 'Являясь производителем, мы можем предложить лучшие цены на нашу продукцию и удобные схемы сотрудничества.'
							},
							{
								img: 'img/advantages-2.png',
								title: '100%  <strong>натуральный продукт</strong>',
								text: 'Мы используем только натуральный мед, свежие ягоды, фрукты и орехи, владеем собственными пасеками.'
							},
							{
								img: 'img/advantages-3.png',
								title: 'более   <strong>20 вкусов</strong>',
								text: 'Мы предлагаем вам не просто мед, а необычный медовый десерт, который Вы полюбите с первой ложечки. <br>Выберите свою любимый вкус.'
							},
							{
								img: 'img/advantages-4.png',
								title: 'вкусно и  <strong>полезно</strong>',
								text: 'Наш мед не только вкусный, но  еще и очень полезный. Является прекрасным профилактическим лечебным средством от многих болезней и недугов.'
							},
							{
								img: 'img/advantages-5.png',
								title: 'контроль  <strong>качества</strong>',
								text: 'Весь закупаемый мед проходит строгий контроль в современной лаборатории.'
							},
						])

			section.products
				.wrap
					.products__subtitle СВЕЖИЙ МЕД ДЛЯ ВАШЕГО ЗДОРОВЬЯ
					h2.products__title 100 % 
						strong  органический мед
						
					.tabs
						.tabs-controls
							.tabs-controls__item
								a.tabs-controls__link(href="#") вся 
									strong продукция
							.tabs-controls__item.active
								a.tabs-controls__link(href="#") мед-
									strong суфле
							.tabs-controls__item
								a.tabs-controls__link(href="#") натуральный 
									strong  мед
							.tabs-controls__item
								a.tabs-controls__link(href="#") варенье

						.tabs-content
							#tab-1
								.products-list
									+products-item([
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '250.00',
											oldPrice: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '250.00',
											oldPrice: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '250.00',
											oldPrice: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '250.00',
											oldPrice: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '265.00'
										},
										{
											img: 'img/product-1.jpg',
											title: 'Мед-суфле <strong>с апельсином</strong>',
											price: '250.00',
											oldPrice: '265.00'
										}
									])
			
			section.production
				.wrap
					h2 Мы делаем 
						strong  мёд для вас
					.production__subtitle Органический мёд для всей семьи

					.production-block
						.production-block__img
							img(src="img/production.jpg", alt="")
						.production-list
							+production-item([
								{
									img: 'img/production-1.svg',
									title: 'Премиум качество',
									text: 'Мед получается из нектара цветов медоносных растений.'
								},
								{
									img: 'img/production-2.svg',
									title: '100% Органический ',
									text: 'Мед получается из нектара цветов медоносных растений.'
								},
								{
									img: 'img/production-3.svg',
									title: 'Всегда свежий продукт',
									text: 'Мед получается из нектара цветов медоносных растений.'
								},
								{
									img: 'img/production-4.svg',
									title: 'Важно для здоровья',
									text: 'Мед получается из нектара цветов медоносных растений.'
								},
								{
									img: 'img/production-5.svg',
									title: '100% Натуральный',
									text: 'Мед получается из нектара цветов медоносных растений.'
								},
								{
									img: 'img/production-6.svg',
									title: '100% Натуральный',
									text: 'Мед получается из нектара цветов медоносных растений.'
								}
							])
						


			include includes/feedback.pug

			.reviews
				.wrap
					.reviews-list
						each item in [1, 2, 3, 4]
							+reviews([
								{
									photo: 'img/photo-1.jpg',
									text: '“Добрый день! Сегодняшний мой отзыв про мед, его виды, полезные свойства и множество рецептов, проверенных временем.”',
									name: 'Иван Иванов'
								}
							])

			section.news
				.wrap
					h2.h3.news__title НОВОСТИ

					.news-list
						+news([
							{
								img: 'img/news-1.jpg',
								date: '26 ИЮНЯ 2016',
								title: 'Полезные свойства <strong>меда</strong>',
								text: 'Мед получается из нектара цветов медоносных растений, который поступает в зоб рабочих пчел; при этом под действием слюны часть тросникового сахара превращается в виноградный - главную составную часть меда',
							},
							{
								img: 'img/news-2.jpg',
								date: '26 ДЕКАБРЯ 2016',
								title: 'Какой мед лучше всего <strong>борется с простудой</strong>',
								text: 'Мед получается из нектара цветов медоносных растений, который поступает в зоб рабочих пчел; при этом под действием слюны часть тросникового сахара превращается в виноградный - главную составную часть меда',
							}
						])


		include includes/footer.pug
