include _breadcrumbs.pug


mixin caption-coach(active,items)
	.caption-coach
		.wrap
			+breadcrumbs(['Главная', 'Обучение тренеров'])
			h1 Обучение тренеров
			.caption-coach__desc.
				Курс «Тренерское Мастерство» представляет собой полноценную комплексную программу обучения тренеров и развития навыков soft skills. В нём могут принять участие как люди, желающие освоить новую профессию, так и корпоративные тренинг-менеджеры или HR-специалисты, желающие лучше понимать процесс обучения и более качественно обучать своих сотрудников
			ul.caption-coach__menu
				for item, index in items
					li
						a(href!='#' + ((index == active) ? '" class="active' : ''))=item