mixin caption-personal(active,items)
	.wrap
		.title-eq
			h1 Обучение персонала
			p Проводим корпоративные тренинги и программы обучения.  Обладаем широким опытом в проведении тренингов для специалистов разных профессий. В первую очередь ориентированны на результаты для бизнеса и самих сотрудников.
			p Если вы ищете тренинги лично для себя, с возможностью индивидуального посешения — познакомтесь с тренингами руководителей.

		ul.caption-coach__menu
			for item, index in items
				li
					a(href!='#' + ((index == active) ? '" class="active' : ''))=item