mixin caption(activeItem, items, index)
	.section.bg--green
		.wrap
			.caption
				h1
					| О компании
				| Тренинговая Компания EQuator специализируется на корпоративном обучении руководителей, развитии эмоционального интеллекта и подготовке тренеров. Буквы EQ в названии обозначают основную особенность компании – все тренинги и программы включают в себя не только наработку профессиональных навыков, но и базовых навыков эмоционального интеллекта
			nav.menu-extra
				each item, ndx in items
						a(href='#' class=((ndx === activeItem) ? 'active': ''))=item
						if (ndx === index)
							br
