include ./_menu.pug

mixin header(className, index)
    header(class="header" + ((className) ? (' ' + className) : ''))
        .header-top
            .wrap
                .header-contacts
                    a.header-contacts__item._mail(href="mailto:contact@beeorganic.ru") Email: contact@beeorganic.ru 
                    a.header-contacts__item._phone(href="tel:+79150700900") Тел. : +7 915 0700900 

                a.menu__toggle(href="#menu" data-toggle)
                    i

                .social.header--social
                    a.social__item(href="#")
                        i.fa.fa-facebook
                    a.social__item(href="#")
                        i.fa.fa-twitter
                    a.social__item(href="#")
                        i.fa.fa-google-plus 
                    a.social__item(href="#")
                        i.fa.fa-instagram  
                    a.social__item(href="#")
                        i.fa.fa-behance  
            
        .header-bottom
            .wrap
                a.logo(href="/")

                +menu([
                    {
                        link: '/',
                        label: 'ГЛАВНАЯ'
                    },
                    {
                        link: '',
                        label: 'О НАС'
                    },
                    {
                        link: 'catalog.html',
                        label: 'МАГАЗИН'
                    },
                    {
                        link: '',
                        label: 'СОТРУДНИЧЕСТВО',
                        submenu: [
                            {
                                label: 'ДОСТАВКА И ОПЛАТА'
                            },
                            {
                                label: 'ОПТОВЫЕ УСЛОВИЯ',
                                list: ['- мелкий опт', '- крупный опт']
                            },
                            {
                                label: 'УПАКОВКА'
                            }
                        ]
                    },
                    {
                        link: 'contacts.html',
                        label: 'КОНТАКТЫ'
                    }
                ], 'menu', index, 'menu')

                a.basket(href="#")
                    .basket__counter 2
                    .basket__sum 2.170.00 руб.
                    
