mixin menu(items, className, activeItem, ID)
	nav(class=((className)?className:'') id=ID)
		for item, ndx in items
			div(class=className + '__item' + ((activeItem === ndx) ? ' _active' : ''))
				a(href=item.link class=className + '__link')=item.label
