mixin pagination(items, active, prev, next)
		.pagination
			if (prev)
				a(href="#").pagination__prev
			
			.pagination__links
				- for (var i=1; i<=items; i++)
					a(href!='#' + ((i == active) ? '" class="active' : ''))=i

			if (next)
				a(href="#").pagination__next