mixin pagination(pagination)
	.pagination-arrows
		.wrap
			a.pagination-arrow._prev._disabled(href="#") 
			a.pagination-arrow._next(href="#") 
	ul.pagination-list
		.pagination-wrap.wrap
			li._disabled
				a(href="#") 01
			li
				a(href="#") 02
			li
				a(href="#") 03
			li
				a(href="#") 04
			li
				a(href="#") 15
