mixin project(project)
	.project-item
		.project-item__header
			.project-item__header--logo
				img(src=project.logo, alt="")
			.project-item__header--name=project.name
		.project-item__body
			.project-item__body--target Цель проекта:
			.project-item__body--text=project.target
			.project-item__body--result Результат проекта:
			.project-item__body--text=project.result