.advantages {
    position: relative;
    padding: 90px 0 300px;

    .owl-nav {
        display: none;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 35px;
        width: 295px;
        height: 318px;
        background: url(pics/advantages-bg-1.jpg) no-repeat left bottom/contain;
        z-index: -1;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 35px;
        width: 278px;
        height: 295px;
        background: url(pics/advantages-bg-2.jpg) no-repeat left bottom/contain;
        z-index: -1;
    }
    
    @media($until: $extra-wide) {
        padding-top: 45px;
    }
    
    @media($until: $desktop) {
        padding-bottom: 45px;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }
}

.advantages-caption {
    margin: 0 0 40px;
    text-align: center;
    
    @media($until: $tablet) {
        margin-bottom: 0;
    }

    &__section {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 620px;
        padding: 0 20px;
        text-align: right;
        font-size: 1.6rem;
        line-height: calc(2.88rem);

        &:nth-child(even) {
            text-align: left;
        }
        
        @media($until: $extra-wide) {
            text-align: center;
            max-width: 650px;
            
            &:nth-child(even) {
                text-align: center;
            }
        }
        
        @media($until: $tablet) {
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 5px;
        margin: 15px 0 0;
    }
}

.advantages-list {
    text-align: center;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-item {
    display: inline-block;
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    width: 20%;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 15px;
    margin: 0 0 40px;
    
    @media($until: $extra-wide) {
        width: 250px;
    }
    
    @media($until: $tablet) {
        margin-bottom: 0;
    }

    &__img {
        height: 180px;
        font-size: 0;
        margin: 0 0 35px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        img {
            display: inline-block;
            vertical-align: bottom;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &__title {
        font-size: 18px;
        margin: 0 0 20px;
        font-family: $Black;
    }

    &__text {
        min-height: 110px;
        margin: 0 0 10px;
    }
}