.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #1c1d1d;
    color: #fff;
    font-family: $Medium;
    z-index: 30;
    transition: .3s;

    &--social {
        float: right;
        padding: 0 25px 0 0;
        
        @media($until: $desktop) {
            padding-right: 0;
        }
    }

    &._small {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3);

        .header-bottom {
            height: 65px;
            line-height: 65px;
        }

        .logo {
            height: 51px;
        }
    }

    &._inner {
      background: #fff;

      .header-top {
          background: #3b3b3b;
      }

      .menu {
        color: #333333;
      }

      .logo {
        background-image: url(pics/logo-inner.svg);
        margin-left: 0;
        margin-right: 107px;
        width: 200px;
      }

      .basket {
        color: #333333;

        &:before {
          background-image: url(pics/basket-brown.png);
        }

        &:after {
          background-image: url(pics/basket-line-brown.png);
        }
      }
    }
}

.header-top {
    background: #2d2d2d;
    font-size: 12px;
    color: #999999;
    height: 35px;
    line-height: 35px;
}

.header-bottom {
    height: 120px;
    line-height: 120px;
    font-size: 15px;
    
    @media($until: $wide) {
        height: 65px;
        line-height: 65px;
    }
}

.header-contacts {
    padding: 0 0 0 34px;
    display: inline-block;
    vertical-align: middle;
    
    @media($until: $desktop) {
        padding-left: 0;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 45px 0 0;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $yellow;
        }
    }
}
