.menu {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;

    &__toggle {
        position: relative;
        display: none;
        float: right;
        width: 35px;
        height: 35px;

        i {
            position: absolute;
            top: 50%;
            right: 2px;
            margin-top: -1px;
            width: 31px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            transition: .25s;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: -8px;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background: #fff;
                transition: .25s;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 8px;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background: #fff;
                transition: .25s;
            }
        }


        &.active {
            i {
                transform: rotate(135deg);
                height: 4px;
                width: 26px;
                margin-top: -2px;

                &:before {
                    top: 0;
                    transform: rotate(-90deg);
                }

                &:after {
                    top: 0;
                    transform: scale(0);
                }
            }
        }
    }
    
    @media($until: $desktop) {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 7;
        background: #2d2d2d;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        transition: .25s;
        box-shadow: 0 3px 7px rgba(0, 0, 0, .3);

        &.active {
            visibility: visible;
            opacity: 1;
        }
        
        &__toggle {
            display: block;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 15px 20px;
        line-height: 1;

        &._active {
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #f9c219;
                margin-left: -3px;
            }
        }

        &:hover {
            color: $yellow;

            .submenu {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
            }
        }
        
        @media($until: $wide) {
            padding: 10px 15px;
        }
    }
}