.production {
    text-align: center;
    padding: 170px 0 110px;

    &__subtitle {
        margin: 15px 0 0;
        font-family: $Medium;
        letter-spacing: 5px;
    }
    
    @media($until: $wide) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.production-block {
    position: relative;
    padding: 90px 0 0;
    
    @media($until: $wide) {
        padding-top: 45px;
    }

    &__img {
        position: absolute;
        text-align: center;
        width: 384px;
        height: 384px;
        left: 50%;
        top: 60px;
        margin-left: -192px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        
        @media($until: $wide) {
            display: none;
        }
    }
}