.tabs-controls {
    font-size: 0;
    margin: 0 0 35px;
    white-space: nowrap;
    overflow: auto;

    &__item {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        font-family: $Regular;
        background: #fff;
        border-radius: 15px;
        font-size: 14px;
        margin: 0 13px;
        
        @media($until: $tablet) {
            margin: 0 6px;
        }

        &.active {
            color: #fff;
            background: $yellow;
        }
    }

    &__link {
        display: block;
        padding: 0 20px;
        
        @media($until: $tablet) {
            padding: 0 12px;
        }
    }
}