select {
	width: 100%;
	height: 30px;
	background: #fff;
	padding: 0 40px 0 0;
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: 20px;
}

.select {
	display: inline-block;
	vertical-align: middle;
	height: 38px;
	background: #fefdf9;
	border: 1px solid #e5e5e4;
	border-radius: 20px;
	white-space: nowrap;
}

.select-text {
	height: 100%;
	cursor: pointer;

	&__value {
		position: relative;
		padding: 0 19px;
		font-family: $Medium;
		font-size: 14px;
		line-height: 36px;
		color: #666666;
		text-align: center;
	}

	&__trigger {

	}
}

.select-dropdown {
	min-width: 100%;
	background: #fff;
	font-family: $Medium;
	font-size: 14px;
	color: #666666;
	background: #fefdf9;
	border: 1px solid #e5e5e4;
	border-radius: 20px;
}

.select-list {

	&__item {
		cursor: pointer;
		text-overflow: ellipsis;
		padding: 8px 15px;

		&:hover {
			color: $yellow;
		}

		&.active {
			color: $yellow;
		}
	}
}

.select-search {
	padding: 3px;

	input[type=text] {
		height: 37px;
		background: #fff;
	}
}
