.ico {
    font-size: 10px;
}

.ico:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../sprite.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .ico:before {
    background-image: url("../sprite.png");
}




