strong, b {
    font-family: $Bold;
    font-weight: normal;
}

mark {
  font-family: $Black;
  color: $yellow;
  background: transparent;
}

sup {
    font-size: calc(14.53/27.95)em;
}

h2, .h2 {
    font-size: 4rem;
    line-height: 1.2;
    font-family: $Light;
    font-weight: normal;
    margin: 0;
    
    @media($until: $tablet) {
        font-size: 3rem;
    }
}

h3, .h3 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-family: $Light;
    font-weight: normal;
    margin: 0;
}

h4, .h4 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: $Regular;
    font-weight: normal;
    margin: 0 0 calc(30/25)em;
    color: #333;
}
