/*width and height edia queries*/

$vh: 7.68;
$vw: 13.66;

/*media*/

$from: min-width;
$until: max-width;
$wide: 1365px;
$desktop: 1023px;
$tablet: 759px;
$mobile: 480px;

/*color*/

$yellow: #facb3b;

/*fonts*/

$Bold: 'RobotoBold', sans-serif;
$Light: 'RobotoLight', sans-serif;
$Regular: 'RobotoRegular', sans-serif;
$Medium: 'RobotoMedium', sans-serif;
$Black: 'RobotoBlack', sans-serif;
$FA: 'FontAwesome', sans-serif;