:root {
    /*width and height edia queries*/
    --vh: 7.68;
    --vw: 13.66;
    /*media*/
    --from: min-width;
    --until: max-width;
    --wide: 1365px;
    --desktop: 1023px;
    --tablet: 759px;
    /*color*/
    --gray: #5b6770;
    --blue: #54c7c3;
    --red: #ff3333;
}